# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Office (ficheiros temporários ao abrir .pptx)
~$*

# IDE
.idea/
.vscode/

# Dados grandes (descomente se não versionar o CSV)
# data/raw/*.csv
